**/__pycache__/
*.pyc
*.pyo
*.so
.git/
.gitignore
.gitlab-ci.yml*
.dockerignore
Dockerfile
README
**/*.md
diagrams/
tests/
*.lock
pyproject.toml
poetry.lock
requirements-dev.txt
requirements-test.txt
sbom.json
trivy-report.json
Jenkinsfile
docker-compose*.yaml
venv/
